<% if @user %>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 pt-0 lg:px-8 ">
    <div class="max-w-xl mx-auto">
      <div class="w-full h-full rounded-b-md overflow-auto">
        <img
          src="https://miro.medium.com/v2/resize:fit:1400/1*D9hEPNVIEs9pEnFuNEI-9g.png"
          alt="w-full aspect-video"
        >
      </div>
      <div class="flex w-full py-2 items-start">
        <div>
          <img
            src="https://pbs.twimg.com/profile_images/1780044485541699584/p78MCn3B_400x400.jpg"
            alt="<%= @user.email %>"
            class="
              h-24 w-24 rounded-full -translate-y-1/2 mx-4 border-2 border-white -mt-2 -mb-12
            "
          />
        </div>
        <div class="flex flex-1 w-full justify-end items-center">
          <% if current_user and current_user.email == @user.email %>
            <a
              href="<%= edit_profile_path %>"
              class="
                focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg
                text-sm px-2.5 py-1.5 text-center hover:bg-gray-200 flex items-center border
                border-gray-200
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4 me-2 -ms-0.5"
              >
                <path
                  d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z"
                />
                <path
                  d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z"
                />
              </svg>
              Edit
            </a>
            <%= form_with(url: destroy_user_session_path, html: { method: :delete }) do |f| %>
              <button
                type="submit"
                class="
                  focus:ring-4 bg-gradient-to-br from-red-500 text-white to-red-600
                  focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-2.5
                  py-1.5 text-center hover:bg-gradient-to-t flex items-center border
                  border-red-600 ml-2
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-4 me-2 -ms-0.5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.5 3.75a1.5 1.5 0 0 1 1.5 1.5v13.5a1.5 1.5 0 0 1-1.5 1.5h-6a1.5 1.5 0 0 1-1.5-1.5V15a.75.75 0 0 0-1.5 0v3.75a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5.25a3 3 0 0 0-3-3h-6a3 3 0 0 0-3 3V9A.75.75 0 1 0 9 9V5.25a1.5 1.5 0 0 1 1.5-1.5h6ZM5.78 8.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06l-1.72-1.72H15a.75.75 0 0 0 0-1.5H4.06l1.72-1.72a.75.75 0 0 0 0-1.06Z"
                    clip-rule="evenodd"
                  />
                </svg>
                Logout
              </button>
            <% end %>
          <% end %>
          <% if current_user and current_user.email != @user.email %>
            <% if @following %>
              <%= button_to "Unfollow",
              follow_path,
              method: :post,
              params: {
                id: params[:id],
              },
              class:
                "text-white bg-gradient-to-r from-gray-500 via-gray-600 to-gray-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800 font-medium rounded-lg text-sm px-5 py-1.5 text-center" %>
            <% else %>
              <%= button_to "Follow",
              follow_path,
              method: :post,
              params: {
                id: params[:id],
              },
              class:
                "text-white bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-indigo-300 dark:focus:ring-indigo-800 font-medium rounded-lg text-sm px-5 py-1.5 text-center" %>
            <% end %>
          <% end %>
          <% unless !current_user.blank? %>
            <%= link_to "Login to follow",
            root_path,
            class:
              "text-white bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-indigo-300 dark:focus:ring-indigo-800 font-medium rounded-lg text-sm px-5 py-1.5 text-center" %>
          <% end %>
        </div>
      </div>
      <div>
        <div>
          <h1 class="text-2xl font-bold text-gray-900 leading-none"><%= @user.name %></h1>
          <% unless @user.username %>
            <span class="text-gray-600">No username</span>
          <% else %>
            <span class="text-gray-600">@<%= @user.username %></span>
          <% end %>
        </div>
        <div class="my-2">
          <% if @user.bio %>
            <p><%= @user.bio %></p>
          <% else %>
            <p>No bio available</p>
          <% end %>
        </div>
        <div class="space-x-2">
          <a href="#" class="text-gray-600 font-medium hover:underline text-sm">
            <span class="font-bold text-gray-900"><%= @user.followers_count %></span>
            Followers
          </a>
          <a href="#" class="text-gray-600 font-medium hover:underline text-sm">
            <span class="font-bold text-gray-900"><%= @user.following_count %></span>
            Following
          </a>
        </div>
      </div>
      <div>
        <div
          class="
            text-sm font-medium text-center text-gray-500 border-b border-gray-200
          "
        >
          <ul class="flex flex-wrap -mb-px">
            <li class="me-2">
              <a
                href="#"
                class="
                  inline-block p-4 text-indigo-600 border-b-2 border-indigo-600 rounded-t-lg
                  active
                "
              >Tweets</a>
            </li>
            <li class="me-2">
              <a
                href="#"
                class="
                  inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600
                  hover:border-gray-300
                "
                aria-current="page"
              >Replies</a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="divide-y border-b">
            <% @my_tweets.each do |tweet| %>
              <li class="flex py-4 gap-x-2 text-sm">
                <div class="flex-shrink-0">
                  <img
                    src="https://pbs.twimg.com/profile_images/1780044485541699584/p78MCn3B_400x400.jpg"
                    alt="<%= @user.email %>"
                    class="h-12 w-12 rounded-full border-2 border-white"
                  />
                </div>
                <div class="flex-1">
                  <div class="w-full">
                    <h3 class="font-semibold"><%= @user.name %>&nbsp;
                      <span class="font-normal text-gray-500">
                        @omkarpatil ·
                        <%= tweet.created_at.strftime("%b %d, %Y") %>
                      </span>
                    </h3>
                    <p class="leading-tight mt-1"><%= tweet.content %></p>
                  </div>
                  <div class="font-medium mt-2 text-gray-500 flex items-center justify-between">
                    <div class="flex items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5 me-1 -ms-0.5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
                        />
                      </svg>
                      <%= tweet.reply_count %>
                    </div>

                    <div class="flex items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5 me-1 -ms-0.5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3"
                        />
                      </svg>
                      <%= tweet.retweet_count %>
                    </div>

                    <div class="flex items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5 me-1 -ms-0.5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                        />
                      </svg>
                      <%= tweet.like_count %>
                    </div>

                    <div class="flex items-center gap-x-2">
                      <div>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="size-5 -ms-0.5"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                          />
                        </svg>
                      </div>
                      <div>

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="size-5 -ms-0.5"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="min-h-screen flex flex-col gap-y-4 items-center justify-center">
    <h1 class="text-7xl font-bold">404</h1>
    <p class="text-xl text-gray-500">Not Found</p>
    <%= link_to "Go back home", root_path, class: "text-blue-700" %>
  </div>
<% end %>
